.layout-header {
    /*    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border: solid;
    margin: 2px;
    border-color: rgb(0 0 0 / 48%);*/
    padding-bottom: 2px;
}